<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>About</h1>
</head>
<body>
<p>
Back in 1994, My father - Mr. Zackriya Sait, started a biriyani food stall in Nellithurai Road, Mettupalayam.
We started receiving bulk takeaway orders and soon after that, we began undertaking large outdoor catering orders too.

After I finished my course in hotel management & armed with a strong background in the catering business, I started Arabian Restaurant in 2007.

With a high degree of commitment and quality, we at Arabian Restaurant want to create new culinary experiences for ourselves and those who enjoy our dishes. For us, it’s not just our work. It’s what we love to do.

</p>
</body>
</html>